.nav {
    width: 300px;
    height: 100vh;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: seagreen;
    flex-direction: column;
}
.nav p {
    margin: 0 10px;
    cursor: pointer;
    font-size: 30px;
    font-weight: bold;
}
.link {
    text-decoration: none;
    color: white;
}